.table-bordered > tbody > tr > th{
    background: whitesmoke;
    overflow: hidden;
}

.table-bordered > tbody > tr > td{
    background: darkslategray;
    overflow: hidden;
}


.table{ table-layout: fixed; table-border:1;}
